/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/
/vendor/
/.idea
/.vscode
/.fleet
/.phpunit.result.cache
/.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.phar
*.composer
composer.phar
